.count {
	font-size: 2em;
	display: inline-block;
	min-width: 1.2em;
	text-align: center;
	padding: 0.5em;
	margin: 0.5em;
	border: 1px solid black;
	border-radius: 0.2em;
}

nav {
	margin-top: 2em;
	border-top: 1px solid #ccc;
	padding-top: 1em;
}

nav ol {
	margin-top: 0;
}
